<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="contact.css">
	<link
	href="https://fonts.googleapis.com/css2?
	family=Ubuntu+Mono&display=swap"
	rel="stylesheet">	
</head>

<body>
	<header>
		<h1 id="top">Nutrition </h1>
		<h1 id="top1">Assistant Application</h1>
	</header>
	<hr>
	<nav id="navbar">
		<img src="logo.jpg">
		<ul id="navcontent">
			<li><a href="#"><font size="+2">Home</font></a></li>
text-align: left
			

			<li><a href="#"><font size="+2"><a href="RG.html">Register</a></font></a></li>
text-align: center
			<li><a href="#"><font size="+2"><a href="cp.html">Contact Us</a></font></a></li>
text-align: right
		</ul>
	</nav>
	<div id="container1">
		<div id="row1">
			Welcome to Nutrition Assistant		</div>
                                                     <form id="form"> 
  <input type="search" id="query" name="q" placeholder="Search...">
  <button>Search</button>
</form>
		<div id="container3">
                                                     
			<div id="row2">

				<button class="btn"><a href="food.html">Food</a></button>
			</div>
			<div id="row3">
				<button class="btn"><a href="https://www.bing.com/search?q=calories+calculator&form=ANNTH1&refig=d79d2cdc26ed44c9a89c0d646055aed9&sp=2&qs=AS&pq=calories&sk=AS1&sc=10-8&cvid=d79d2cdc26ed44c9a89c0d646055aed9">CALORIE CALCULATOR</a></button>
			</div>
		</div>
	</div>
	<hr>
	<h1 id="top3">Food</h1>
	<div id="container4">
		<div id="row4">
			<button class="btn"><a href="vegetables.html">VEGETABLES</a></button>
		</div>
		<div id="row5">
			<button class="btn"><a href="Fruits.html">FRUITS</a></button>
		</div>
		<div id="row6">
			<button class="btn"><a href="fast food.html">OTHERS</a></button>
		</div>
	</div>
	<footer>Copyright © 2022-2023 Nutrition Assistant Application.
		All Rights are reserved</footer>
</body>
</html>



