<!Doctype html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
h1 {color:black;}
p {color:blue;}
</style>

      <style>
         table, th, td {
            border: 1px solid black;
         }
      </style>
   </head>

   <body style="background-image:url('fstfoodbj1.jpg');" style>
<h1>Nutrition Assistant Application</h1>
<p><b>FOOD<b></p>

      <h1><h1 align = "center"></h1>
      <table><table style="width:90%">
         <tr>
            <th style="width:30%"><h1>Food items</h1></th>
            <th style="width:40%"><h1>Carbohydrates(grams)</h1></th>
            <th style="width:50%"><h1>Calories</h1></th>

         </tr>
         <tr style="height:170px">
            <td><center><img src="cmm1.jpg"> <br>  Chocolate milk (1 cup)</center></td>
            <td><font size="6"><center>26<br></font></center>
</td>
             <td><font size="6"><center>208</center>
<br></font>
</td>
         </tr>
          <tr style="height:170px">
            <td><center><img src="milk1.jpg"><br>Low fat (2%) milk</center></td>
            <td><font size="6"><center>12</center><br></font>
</td>
<td><font size="6"><center>121</center><br></font>
</td>
<tr style="height:170px">
            <td><center><img src="pudding1.jpg"><br>Pudding (1/2 cup)</center></td>
            <td><font size="6"><center>30</center><br></font>
</td>
             <td><font size="6"><center>161</center><br></font>
</td>
         </tr>
<tr style="height:170px">
            <td><center><img src="fyogurt1.jpg"><br>Yogurt (frozen, low fat) (1 cup)</center></td>
            <td><font size="6"><center>34</center><br></font>
</td>
             <td><font size="6"><center>220<br></center></font>
</td>
         </tr>
<tr style="height:170px">
            <td><center><img src="biscuit1.jpg"><br>Biscuit (1)</center></td>
            <td><font size="6"><center>13</center><br></font>
</td>
             <td><font size="6"><center>103</center><br></font>
</td>
         </tr>
<tr style="height:170px">
            <td><center><img src="ppa1.jpg"><br>Pizza (cheese)(1 slice)</center></td>
            <td><font size="6"><center>39<br></center></font>
</td>
             <td><font size="6"><center>290<br></center></font>
</td>
         </tr>
<tr style="height:170px">
            <td><center><img src="pcc1.jpg"><br>Popcorn, plain (1 cup, popped)</center></td>
            <td><font size="6"><center>6<br></center></font>

</td>
             <td><font size="6"><center>26<br></center></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="re1.jpg"><br>Rice, white (1 cup)</center></td>
            <td><font size="6"><center>50<br></center></font>

</td>
             <td><font size="6"><center>223<br></center></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="tl1.jpg"><br>Tortilla, flour (1)</center></td>
            <td><font size="6"><center>15<br></center></font>

</td>
             <td><font size="6"><center>85<br></center></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="hb1.jpg"><br>Hamburger bun (1)</center></td>
            <td><font size="6"><center>21<br></center></font>

</td>
             <td><font size="6"><center>119<br></center></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="ndl1.jpg"><br>Noodles</center></td>
            <td><font size="6"><center>34<br></center></font>

</td>
             <td><font size="6"><center>159</center><br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="pnn1.jpg"><br>Pancake (4 inch diameter)</center></td>
            <td><font size="6"><center>10<br></center></font>
</td>
             <td><font size="6"><center>41<br></center></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="om1.jpg"><br>Oatmeal (1/2 cup)</center></td>
            <td><font size="6"><center>12<br></center></font>

</td>
             <td><font size="6"><center>66<br></center></font>
-</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="chicken1.jpg"><br>Full Chicken</center></td>
            <td><font size="6"><center>0<br></font>

</td>
             <td><font size="6"><center>165</center><br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="fish1.jpg"><br>Full fish(100 grams)</center></td>
            <td><font size="6"><center>0<br></center></font>

</td>
             <td><font size="6"><center>126<br></center></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="eggg1.jpg"><br>Egg</center></td>
            <td><font size="6"><center>1.1<br></center></font>

</td>
             <td><font size="6"><center>72<br></center></font>
</td>
         </tr>


<tr style="height:170px">
            <td><center><img src="redmeat1.jpg"><br>Red Meat(100 grams)</center></td>
            <td><font size="6"><center>67.2<br></center></font>

</td>
             <td><font size="6"><center>217<br></center></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="dhal1.jpg"><br>Dhal(100 grams)</center></td>
            <td><font size="6"><center>10.18<br></center></font>

</td>
             <td><font size="6"><center>90.45<br></center></font>
</td>
         </tr>

      </table></head>
<body>
</body>
</html>