<!Doctype html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
h1 {color:black;}
p {color:blue;}
</style>

      <style>
         table, th, td {
            border: 1px solid black;
         }
      </style>
   </head>

   <body  style="background-image:url('bg777.jpeg');" style>
<h1>Nutrition Assistant Application</h1>
<p><b>VEGETABLES<b></p>

      <h1><h1 align = "center"></h1>
      <table><table style="width:90%">
         <tr>
            <th style="width:30%"><h1>Vegetables</h1></th>
            <th style="width:40%"><h1>Nutritional Values</h1></th>
            <th style="width:50%"><h1>Content in Fruit (mg)</h1></th>

         </tr>
         <tr style="height:170px">
            <td><center><img src="bro1.jpg"><br>Brocolli</center></td>
            <td><font size="6">Vitamin A <br>
Vitamin B1 <br>
Vitamin B2 <br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>
</td>
             <td><font size="6">0,2<br>
0,1<br>
0,3<br>
0,21<br>
110.000<br>
-<br></font>
</td>
         </tr>
          <tr style="height:170px">
            <td><center><img src="car1.png"><br>Carrot</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1 <br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>
</td>
<td><font size="6"0,6<br>
0,01<br>
0,01<br>
0,03<br>
1000<br>
0,016<br></font>
</td>
<tr style="height:170px">
            <td><center><img src="cab1.jpg"><br>Cabbage</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>
</td>
             <td><font size="6">0,01<br>
0,1<br>
0,15<br>
0,2<br>
80.000<br>
0,069<br></font>
</td>
         </tr>
<tr style="height:170px">
            <td><center><img src="cal1.jpg"><br>Cauliflower</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>
</td>
             <td><font size="6">0,001<br>
0,05<br>
0,07<br>
0,2<br>
80.000<br>
0,044<br></font>
</td>
         </tr>
<tr style="height:170px">
            <td><center><img src="leek1.jpg"><br>Leek</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>
</td>
             <td><font size="6">0,094<br>
0,12<br>
0,04<br>
0,25<br>
20.000<br>
-<br></font>
</td>
         </tr>
<tr style="height:170px">
            <td><center><img src="corn1.jpg"><br>Corn</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>
</td>
             <td><font size="6">0,007<br>
0,12<br>
0,07<br>
0,1<br>
0<br>
0,034<br></font>
</td>
         </tr>
<tr style="height:170px">
            <td><center><img src="cum1.jpg"><br>Cucumber</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0,034<br>
0,03<br>
0.01<br>
0.03<br>
10.000<br>
0,005<br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="pap1.jpg"><br>Green Paprika</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0,022<br>
0,03<br>
0,07<br>
0,18<br>
70.000<br>
0,055<br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="olv1.jpg"><br>Olives</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0,053<br>
0,03<br>
0,04<br>
0,04<br>
23.000<br>
0,023<br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="onion1.jpg"><br>Onion</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0,001<br>
0,03<br>
0,01<br>
0,17<br>
10.000<br>
0,01<br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="pot1.jpg"><br>Potato</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0<br>
0,12<br>
0,04<br>
0,3<br>
14.000<br>
0,023<br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="rad1.jpg"><br>Radish</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>
</td>
             <td><font size="6">0,002<br>
0,05<br>
0,03<br>
0,08<br>
20.000<br>
0,028<br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="rp1.jpg"><br>Red Paprika</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0,2<br>
0,03<br>
0,07<br>
0,18<br>
150.000<br>
0,055<br></font>
-</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="spi1.png"><br>Spinach</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0,24<br>
0,04<br>
0,1<br>
0,15<br>
25.000<br>
0,1<br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="peas1.png"><br>Green Peas</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0,3<br>
0,06<br>
0,05<br>
0,05<br>
1000<br>
0,022<br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="msh1.jpg"><br>Mushroom</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0<br>
0,07<br>
0,3<br>
0,12<br>
5000<br>
0,032<br></font>
</td>
         </tr>


<tr style="height:170px">
            <td><center><img src="bs1.jpg"><br>Brussels</center> </td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0,031<br>
0,1<br>
0,12<br>
0,23<br>
66.000<br>
0,087<br></font>
</td>
         </tr>

<tr style="height:170px">
            <td><center><img src="asp1.jpg"><br>Asparagus</center></td>
            <td><font size="6">Vitamin A<br>
Vitamin B1<br>
Vitamin B2<br>
Vitamin B6<br>
Vitamin C<br>
Folate (folic acid)<br></font>

</td>
             <td><font size="6">0<br>
0,04<br>
0,04<br>
0,03<br>
12.000<br>
0,056<br></font>
</td>
         </tr>

      </table></head>
<body>
</body>
</html>